<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 px-2 mb-4 border-bottom" style="font-size: 20px;">
<div class="collapse navbar-collapse text-al" id="navbarSupportedContent">

  <ul class="nav nav-pills">
    {% with request.resolver_match.view_name as view_name %}
      {% if view_name == 'homepage:home' %}
        <li class="nav-item"><a href="{% url 'homepage:home' %}" class="nav-link-active">Главная</a></li>
        <li class="nav-item"><a href="/catalog" class="nav-link">Каталог</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">О проекте</a></li>
      {% elif view_name == 'catalog:catalog' %}
        <li class="nav-item"><a href="{% url 'homepage:home' %}" class="nav-link">Главная</a></li>
        <li class="nav-item"><a href="/catalog" class="nav-link-active">Каталог</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">О проекте</a></li>
      {% else %}
        <li class="nav-item"><a href="{% url 'homepage:home' %}" class="nav-link">Главная</a></li>
        <li class="nav-item"><a href="/catalog" class="nav-link">Каталог</a></li>
        <li class="nav-item"><a href="/about" class="nav-link-active">О проекте</a></li>
      {% endif %}
    {% endwith %}
  </ul>
</div>
</nav>
    {% block content %}{% endblock %}
</body>
</html>