{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="collapse navbar-collapse" id="navbarSupportedContent">

  <ul class="navbar-nav mr-auto">
    {% with request.resolver_match.view_name as view_name %}
      {% if view_name == 'homepage:home' %}
        <li class="nav-item"><a href="{% url 'homepage:home' %}" class="nav-link disabled">Главная</a></li>
        <li class="nav-item"><a href="/catalog" class="nav-link">Список товаров</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">О проекте</a></li>
        <li class="nav-item"><a href="/feedback" class="nav-link">Обратная связь</a></li>
      {% elif view_name == 'catalog:catalog' %}
        <li class="nav-item"><a href="{% url 'homepage:home' %}" class="nav-link">Главная</a></li>
        <li class="nav-item"><a href="/catalog" class="nav-link disabled">Список товаров</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">О проекте</a></li>
        <li class="nav-item"><a href="/feedback" class="nav-link">Обратная связь</a></li>
      {% elif view_name == 'about:about' %}
        <li class="nav-item"><a href="{% url 'homepage:home' %}" class="nav-link">Главная</a></li>
        <li class="nav-item"><a href="/catalog" class="nav-link">Список товаров</a></li>
        <li class="nav-item"><a href="/about" class="nav-link disabled">О проекте</a></li>
        <li class="nav-item"><a href="/feedback" class="nav-link">Обратная связь</a></li>
      {% else %}
        <li class="nav-item"><a href="{% url 'homepage:home' %}" class="nav-link">Главная</a></li>
        <li class="nav-item"><a href="/catalog" class="nav-link">Список товаров</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">О проекте</a></li>
        <li class="nav-item"><a href="/feedback" class="nav-link disabled">Обратная связь</a></li>
      {% endif %}
    {% endwith %}
  </ul>
</div>
</nav>
